ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}
ul li img {
  float: left;
}

#x {
  color: aquamarine;
}

.header {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  text-overflow: clip;
  color: aquamarine;
}
.text {
  display: flex;
  justify-content: right;
  gap: 50px;
  text-indent: 10px;
  letter-spacing: 1px;
  line-height: 40px;
  font-style: italic;
  font-size: 18px;
}
.img {
  padding-left: 700px;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
.button1 {
  background-color: mediumspringgreen;
  border-radius: 20px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 400px;
  height: 400px;
}
.button2 {
  background-color: blue;
  border-radius: 20px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 400px;
  height: 400px;
}
.button3 {
  background-color: #1b2734;
  border-radius: 20px;
  color: white;
  padding: 20px 32px;
  text-align: center;
  font-size: 40px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 400px;
  height: 400px;
}
button:hover {
  opacity: 1;
}

.dropbtn {
  font-size: 13px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.y {
  font-size: 30px;
  color: #06c7ad;
}
.thirdpart p {
  border: 1000px;
  padding: 100px;
  background: #79d8cb;
  background-clip: border-box;
  font-size: 40px;
  display: flex;
  justify-content: left;
}
#one {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #00b39b;
}
#two {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #00b39b;
}
#three {
  text-align: center;
}
#four {
  text-align: center;
}
#five {
  text-align: center;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo_container img {
  width: 50px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000;
  padding: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo_container p {
  font-size: 36px;
  margin: 0;
}
.doc {
  color: #00b39b;
}
